<f:layout name="Default"/>
<f:section name="Header">

    <f:render partial="Header/All" arguments="{_all}" />

</f:section>
<f:section name="Main">
    <f:render partial="Menu/Type-{data.menu_type}" arguments="{_all}" />
</f:section>
