<f:layout name="Default"/>
<f:section name="Header">
<div class="texticon texticon-top">
    
    <f:if condition="{themes.icon}">
        <div class="texticon-icon texticon-size-medium texticon-type-circle">
            <span class="{themes.icon}" style="color: #ffffff; background-color: #333333;"></span>
        </div>
    </f:if>
    


</f:section>
<f:section name="Main">
    <div class="texticon-content">
        <f:render partial="Header/AllNoIcon" arguments="{_all}" />
        <div class="text-content">    
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</div>
</f:section>
