<f:layout name="Default"/>
<f:section name="Header">
    
    <f:if condition="{data.bodytext}">
        <f:then>
            <f:if condition="{gallery.count.files} > 0">
                <f:then>
                    <div class="textmedia textmedia-{gallery.position.horizontal} textmedia-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' textmedia-nowrap')}">
                </f:then>
                <f:else>
                    <div class="textmedia">
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div class="textmedia media-{gallery.position.horizontal}">
        </f:else>
    </f:if>
    
    
    
</f:section>
<f:section name="Main">

    <f:if condition="{data.bodytext}">
        <f:then>
            <f:if condition="{gallery.count.files} > 0">
                <f:then>
                        <f:if condition="{gallery.position.vertical} != 'below'">
                            <div class="media-content">
                                <f:render partial="Media/Gallery" arguments="{_all}" />
                            </div>
                        </f:if>
                        <f:render partial="Header/All" arguments="{_all}" />
                        <div class="text-content">
                            <f:format.html>{data.bodytext}</f:format.html>
                        </div>
                        <f:if condition="{gallery.position.vertical} == 'below'">
                            <div class="media-content">
                                <f:render partial="Media/Gallery" arguments="{_all}" />
                            </div>
                        </f:if>
                </f:then>
                <f:else>
                    <f:render partial="Header/All" arguments="{_all}" />
                    <div class="text-content">    
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            
            <f:render partial="Header/All" arguments="{_all}" />
            <div class="media-content">
                <f:render partial="Media/Gallery" arguments="{_all}" />
            </div>
            
        </f:else>
    </f:if>
        
</div>
</f:section>
