<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Default" />
    <f:section name="Default">
        <!-- theme_bootstrap: Templates/Theme/ContentStartsite.html [begin] -->

                <f:render partial="Content/Feature" section="Default" arguments="{boxed:0}" />
                <f:render partial="Content/Main" section="Default" arguments="{boxed:0}" />
		
        <!-- theme_bootstrap: Templates/Theme/ContentStartsite.html [end] -->
    </f:section>
</div>