<div xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Default" />
    <f:section name="Default">
        <!-- theme_bootstrap: Templates/Theme/MenuContent.html [begin] -->
        
        <div class="breadcrumb-section hidden-xs hidden-sm">
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
            </div>
        </div>
        
        <div class="container menucontent">
            <div class="row">
                <div class="col-md-3 subnav-wrap">
                    <f:render partial="Content/Menu" section="Default" arguments="{_all}" />
                </div>
                <div class="col-md-9">
                    <f:render partial="Content/Feature" section="Default" arguments="{boxed:1}" />
                    <f:render partial="Content/Main" section="Default" arguments="{boxed:1}" />
                </div>
            </div>
        </div>
        
        <!-- theme_bootstrap: Templates/Theme/MenuContent.html [end] -->
    </f:section>
</div>