<f:if condition="{files}">

        <div class="row">
            <f:if condition="{files -> f:count()} > 1">
                <f:then>
                    <f:for each="{files}" as="file" iteration="fileIteration">
                        <f:switch expression="{data.imagecols}">
                            <f:case value="1">
                                <div class="col-md-12">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                            <f:case value="2">
                                <div class="col-sm-6">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                            <f:case value="3">
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                            <f:case value="4">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                            <f:case value="6">
                                <div class="col-md-2 col-sm-3 col-xs-4">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                            <f:case default="1">
                                <div class="col-md-12">
                                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                                </div>
                            </f:case>
                        </f:switch>
                    </f:for>
                </f:then>
                <f:else>
                    <div class="col-md-12">
                        <f:render partial="Media/Type" arguments="{file: files.0, data: data, settings: settings}" />
                    </div>
                </f:else>
            </f:if>
        </div>

</f:if>
