{namespace ce = TYPO3\CMS\FluidStyledContent\ViewHelpers}
<figure class="image">
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}" title="{file.title}">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
					<ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}" >
						<f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
					</ce:link.clickEnlarge>
                </f:then>
                <f:else>
                    <f:render partial="Media/Rendering/Image" arguments="{file: file, settings: settings}" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
    <figcaption class="caption">
        {file.description}
    </figcaption>
</figure>
