<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<ce:menu.categories categoryUids="{categoryUids}" as="pages" relationField="{data.category_field}" table="pages">
	<f:if condition="{pages}">
		<ul>
			<f:for each="{pages}" as="page">
				<li>
					<f:link.page pageUid="{page.uid}">
						<f:if condition="{page.nav_title}">
							<f:then>
								{page.nav_title}
							</f:then>
							<f:else>
								{page.title}
							</f:else>
						</f:if>
					</f:link.page>
				</li>
			</f:for>
		</ul>
	</f:if>
</ce:menu.categories>
</html>
