{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap: Layouts/Default.html [begin] -->
<div class="body-bg">

	<f:render partial="Area/Header" section="Default" arguments="{_all}" />
                                   
	<div class="main-section">
		<f:render section="Default" />
	</div>
	
	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
	
</div>
<!-- theme_bootstrap: Layouts/Default.html [end] -->