<ul id="language_menu" class="language-menu">
    <f:for each="{menu}" as="entry" iteration="itemIteration">
        <f:if condition="{entry.active}">
            <f:then>
                <li class="{entry.class} active"><a href="#">{entry.label}</a></li>
            </f:then>
            <f:else>
                <f:if condition="{entry.hasTranslation}">
                    <f:then>
                        <li class="{entry.class}">
                            <f:link.page addQueryString="1"
                                additionalParams="{L: entry.L}"
                                title="{entry.label}"
                                argumentsToBeExcludedFromQueryString="{0: 'id'}"
                            >{entry.label}</f:link.page>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="{entry.class}  text-muted">{entry.label}</li>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:for>
</ul>