.textmedia-left .media-content {
	float: left;
	margin-right: 10px;
	max-width: 50%
}
.textmedia-right .media-content {
	float: right;
	margin-left: 10px;
	max-width: 50%
}
.textmedia-left:before, .textmedia-right:before,
.textmedia-left:after, .textmedia-right:after {
    content: " ";
    display: table;
}
.textmedia-left:after, .textmedia-right:after {
    clear: both;
}
.textmedia-nowrap .text-content {
	overflow: hidden;
}

.image img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}