{namespace themes = KayStrobach\Themes\ViewHelpers}
{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{registerBoxed}">
	<f:then>
		<themes:variable.set name="behaviourClass" value="{themes.behaviour.cssClasses -> v:format.trim()}" />
	</f:then>
	<f:else>
		<f:if condition="{themes.behaviour.key2css.container}">
			<f:then>
				<themes:variable.set name="behaviourClass" value="{themes.behaviour.cssClasses -> v:format.trim()}" />
			</f:then>
			<f:else>
				<f:if condition="{themes.behaviour.key2css.container-fluid}">
					<f:then>
						<themes:variable.set name="behaviourClass" value="{themes.behaviour.cssClasses -> v:format.trim()}" />
					</f:then>
					<f:else>
						<themes:variable.set name="behaviourClass" value="{v:format.trim(content: 'container {themes.behaviour.cssClasses}')}" />
					</f:else>
				</f:if>
			</f:else>
		</f:if>        
	</f:else>   
</f:if>
<themes:variable.set name="variantsClass" value="{v:format.trim(content: 'frame {themes.variants.cssClasses} {themes.responsive.cssClasses}')}" />

<f:if condition="{behaviourClass}"><div class="{behaviourClass}"></f:if>

<div id="c{data.uid}" class="{variantsClass}">
    <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
    <f:render section="Header" />
    <f:render section="Main" />
</div>

<f:if condition="{behaviourClass}"></div></f:if>