<div class="content-header{f:if(condition: data.header_position, then: ' text-{data.header_position}')}">
    <f:render partial="Header/Header" arguments="{_all}" />
    <f:render partial="Header/SubHeader" arguments="{_all}" />
    <f:render partial="Header/Date" arguments="{_all}" />
</div>
