<f:if condition="{data.date}">
    <p>
        <time datetime="{data.date -> f:format.date(format: '%Y-%m-%d')}">
            {data.date -> f:format.date(format: '%Y-%m-%d')}
        </time>
    </p>
</f:if>
