<f:if condition="{data.header}">
    <f:switch expression="{data.header_layout}">
        <f:case value="1"><h1><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h1></f:case>
        <f:case value="2"><h2><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h2></f:case>
        <f:case value="3"><h3><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h3></f:case>
        <f:case value="4"><h4><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h4></f:case>
        <f:case value="5"><h5><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h5></f:case>
        <f:case value="100"><f:comment> -- do not show header -- </f:comment></f:case>
        <f:case default="1"><h{registerDefaultHeaderType}><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></h{registerDefaultHeaderType}></f:case>
    </f:switch>
</f:if>
