<f:if condition="{data.subheader}">
    <f:switch expression="{data.header_layout}">
        <f:case value="1"><h2>{data.subheader}</h2></f:case>
        <f:case value="2"><h3>{data.subheader}</h3></f:case>
        <f:case value="3"><h4>{data.subheader}</h4></f:case>
        <f:case value="4"><h5>{data.subheader}</h5></f:case>
        <f:case value="5"><h6>{data.subheader}</h6></f:case>
        <f:case value="100"><f:comment> -- do not show header -- </f:comment></f:case>
        <f:case default="1"><h3>{data.subheader}</h3></f:case>
    </f:switch>
</f:if>
