// extra fonts
@import "Library/webfont.less";

// Be sure that all Bootstrap variables are defined!
@import "../../../../theme_bootstrap/Resources/Public/Contrib/Bootstrap/less/variables.less";

@brand-primary:                       #ff8700;
@font-size-base:                      16px;
@line-height-base:                    1.55;
@headings-font-family:                "Share", "Helvetica Neue", Helvetica, Arial, sans-serif;
@icon-font-path:                      "../../../../../../theme_bootstrap/Resources/Public/Contrib/Bootstrap/fonts/";
@border-radius-base:                  0px;
@border-radius-large:                 0px;
@border-radius-small:                 0px;
@dropdown-border:                     @navbar-default-border;
@dropdown-link-hover-color:           #fff;
@dropdown-link-hover-bg:              @brand-primary;
@grid-float-breakpoint:               @screen-md-min;
@navbar-height:                       70px;
@navbar-default-color:                #333;
@navbar-default-bg:                   #fff;
@navbar-default-link-color:           lighten(@navbar-default-link-active-color,35%);
@navbar-default-link-hover-color:     @navbar-default-link-active-color;
@navbar-default-link-active-color:    #333;
@navbar-default-link-active-bg:       transparent;
@navbar-default-brand-hover-color:    @navbar-default-link-active-color;
@navbar-default-toggle-hover-bg:      transparent;
@navbar-default-toggle-icon-bar-bg:   @navbar-default-link-color;
@navbar-default-toggle-border-color:  transparent;
@navbar-inverse-color:                @gray-light;
@navbar-inverse-bg:                   @gray;
@navbar-inverse-border:               darken(@navbar-inverse-bg, 6.5%);
@navbar-inverse-link-color:           darken(@navbar-inverse-link-active-color,35%);
@navbar-inverse-link-hover-color:     @navbar-inverse-link-active-color;
@navbar-inverse-link-active-color:    #fff;
@navbar-inverse-link-active-bg:       transparent;
@navbar-inverse-brand-hover-color:    @navbar-inverse-link-active-color;
@navbar-inverse-toggle-hover-bg:      transparent;
@navbar-inverse-toggle-icon-bar-bg:   @navbar-inverse-link-color;
@navbar-inverse-toggle-border-color:  transparent;
@nav-tabs-active-link-hover-bg:       #f5f5f5;
@jumbotron-color:                     #fff;
@jumbotron-bg:                        @brand-primary;
@modal-inner-padding:                 20px;


// Override for Dyncss

@brand-primary: #FF8700;
@link-color: #FF8700;
@link-hover: #B35F00;
@text-color: #333333;

@gray: #555555;
@gray-dark: #333333;
@gray-darker: #222222;
@gray-light: #999999;
@gray-lighter: #EEEEEE;

@brand-danger: #D9534F;
@brand-info: #5BC0DE;
@brand-success: #5CB85C;
@brand-warning: #F0AD4E;



// Less-Imports
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/bootstrap.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/bootstrap.equalHeight.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/layout.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/area.feature.less";
@import "Library/area.footer.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/lib.button.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/lib.logo.less";
@import "Library/lib.menu.sub.less";
@import "Library/lib.menu.main.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/lib.menu.special.less";
@import "Library/lib.menu.language.less";
@import "Library/lib.menu.breadcrumb.less";
@import "../../../../theme_bootstrap/Resources/Private/Dyncss/Library/partial.socialmedia.less";

// Styles for Elements
@import "Library/Elements/textmedia.less";
// @import "Library/Elements/Carousel/carouselSmall.less";
// @import "Library/Elements/Accordion/accordion.less";
// @import "Library/Elements/Sitemap/sitemap.less";

// Styles for Variants
@import "Library/Variants/framed.less";
// @import "Library/Variants/GridElements/Container/container-startsite.less";
// @import "Library/Variants/Header/page-header.less";
// @import "Library/Variants/Sitemap/sitemap.less";

// Styles for Extensions
// @import "../../../../theme_bootstrap/Resources/Private/Extensions/News/Dyncss/import.less";
// @import "../../../../theme_bootstrap/Resources/Private/Extensions/Rtehtmlarea/Dyncss/frontend.less";
