{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Area/Footer.html [begin] -->
                <div class="container">
			<ul class="footline list-inline pull-right">
				<f:render partial="Elements/TopLink" section="Default" arguments="{_all}" />
				<li class="divider">|</li>
				<f:render partial="Elements/PrintLink" section="Default" arguments="{_all}" />
			</ul>
			
		</div>

		<footer>                    
			<div class="footer-section">
				<div class="container">
					<f:cObject typoscriptObjectPath="lib.content.extended" />
				</div>       
			</div>

			<div class="meta-section">
				<div class="container">

					<div class="row">
						<div class="col-md-4 language">
							<theme:widget.languageMenu
								availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
								currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
								defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
								defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
								defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
							/>
						</div>

						<div class="col-md-8 copyright" role="contentinfo">
							<p><f:cObject typoscriptObjectPath="lib.footer.copyright" /></p>
						</div>
					</div>

				</div>
			</div>
		</footer>

		<!-- theme_bootstrap: Partials/Area/Footer.html [end] -->
	</f:section>
</div>