<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Area/Header.html [begin] -->

		<header class="navbar navbar-default navbar-has-image navbar-top">
			<div class="container">
				<div class="navbar-header navbar-header-main">
					<f:cObject typoscriptObjectPath="lib.header.logo.main" />
					<button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-header-border-bottom"></span>
				</div>
				<nav class="navbar-collapse collapse">
					<f:cObject typoscriptObjectPath="lib.menu.main" />
				</nav>
			</div>
		</header>

		<!-- theme_bootstrap: Partials/Area/Header.html [end] -->
	</f:section>
</div>