<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Content/Feature.html [begin] -->
                
                <div class="feature-section">
                    
                        <!--TYPO3SEARCH_begin-->
                        <f:cObject typoscriptObjectPath="lib.content.feature" data="{boxed:boxed}" />
                        <!--TYPO3SEARCH_end-->
                        
                </div>

		<!-- theme_bootstrap: Partials/Content/Feature.html [end] -->
	</f:section>
</div>