<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Content/Main.html [begin] -->

		<div class="content-section">

			<!--TYPO3SEARCH_begin-->
			<f:cObject typoscriptObjectPath="lib.content.main" data="{boxed:boxed}" />
			<!--TYPO3SEARCH_end-->
						
		</div>

		<!-- theme_bootstrap: Partials/Content/Main.html [end] -->
	</f:section>
</div>